

body {
    font-family: Arial, Helvetica, sans-serif;
}

.services{

    width:85%;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
    margin-bottom:150px;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three unequal columns that sits next to each other */

.button-new {display:flex; justify-content:center;}

.button-new button{
	color:#fff !important;
	border-radius:5px;
	background-color:#106eea;
	width:200px;
	height:35px;
	border:0px;

	font-size:12px;

	}
.button-new button:hover{
	background-color:#5297f3;

	}


/* Middle column */
.column.middle {

    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
	text-align:center;


}
.column.middle h1{
font-size:2em; font-weight:bold; color:black;
}

.column.middle .future{
font-size:1.5em; color:black;
}

.column.middle .future1{
color:black; font-weight:regular;
}


.column.middle p{padding-right:10%; padding-left:10%;}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 900px) {

	iframe{
	height:400px;
	}


	}



@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
	iframe{
	height:400px;
	}

	.column.middle h1{
font-size:1.8em; font-weight:bold; color:black;
}

.column.middle .future{
font-size:1.2em; color:black;
}

.column.middle .future1{
color:black; font-weight:regular; font-size:0.8em;
}



.services{

    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:150px;
	text-align:justify;
}

}

@media (max-width: 500px) {

	iframe{
	height:300px;
	}

	}



