*{

margin:0px;
padding:0px;
box-sizing:border-box;

}


.all_sliders{
position:relative;
left:0px;
right:0px;
width:100%;


}

.slider{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;

  transform:scale(1);

  opacity:0;
}

.active{
  opacity:1;
  visibility: visible;
}

.prev{
position:absolute;
left:20px;
z-index: 3;
top:19vw;
border:#ffdead00;
background: #333;
color:white;
font-size: 36px;
padding:16px 21px;
border-radius:1000px;
transition:0.5s;
outline:none;
opacity:0.6;

}

.next{
position:absolute;
right:20px;
z-index: 3;
top:19vw;
border:#ffdead00;
background: #333;
color:white;
font-size: 36px;
padding:16px 21px;
border-radius:1000px;
transition:0.5s;
outline:none;
opacity:0.6;

}

.prev:hover{
  opacity:1;
}
